.header{
    padding: 22px 0;
    position: absolute;
    width: 100%;
    left: 0;
    &-container{
        display: flex;
        align-items: center;
    }
    &-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-left: 83px;
    }
    &-list{
        display: flex;
        align-items: center;
    }
    &-item{
        margin-left: 40px;
        &:first-child{
            margin-left: 0;
        }
    }
    &-link{
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: $white;
        transition: .5s;
        &:hover{
            color: $blue;
        }
    }
    &-btn{
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: $white;
    }
    &-burger{
        display: none;
    }
}
.header-active{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $dark;
    z-index: 50;
    transition: .5s;
}